# Workspace
workspace/*

# ssh keys
ssh/*

# Tmux
config/tmux/plugins/*
config/tmux/resurrect/*
tmux-*.log

# pnpm packages store
pnpm/*

# Copilot Credentials
**/config/github-copilot/
config/github-copilot
config/github-copilot/*

# Keep folders and files that are needed for the project
!*.gitkeep

# Visual Studio Code
**/.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
